.name {
  margin-top: 350px;
}

.sidebar {
  background-color: rgb(5, 5, 110);
  height: 900px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.high {
  color: white;
  background-color: aliceblue;
}

.dashboard {
  color: white;
}
@media screen and (max-width: 768px) {
  .name {
    margin-top: 50px;
  }

  .sidebar {
    /* background-color: rgb(5, 5, 110); */
    height: 2000px;
  }
}
